node_modules/
dist/
coverage/
.DS_Store
data/
!data/.gitkeep
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
*.log
.vscode/
*.iso
*.wasm
public/images/arch.iso
public/images/seabios.bin
public/images/vgabios.bin
public/v86.wasm
